<form name="register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form">
    <h2>Регистрация</h2>

    <div class="form-group">
      <div class="form-label">
        <label>
          Логин:
        </label>
      </div>
      <input type="text" formControlName="login" required placeholder="Логин">
    </div>
    <div class="form-group">
      <label>
        Пароль:
      </label>
      <input type="password" formControlName="password" required placeholder="Пароль">
    </div>

    <input class="primary" type="submit" value="Зарегистрироваться">
  </div>
</form>
