<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>default</servlet-name>
        <!--suppress WebProperties -->
        <!-- it's included in glassfish no worry -->
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AngularServlet</servlet-name>
        <servlet-class>se.yogurtthehor.peep.fourth.servlets.AngularServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AngularServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>